# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE files
.vscode/
.idea/
.DS_Store

# Local application logs and history database
prediction_history.csv

# Jupyter Checkpoints
.ipynb_checkpoints/
